.contact-section {
    background-image: radial-gradient( #54ABED, #061A28);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-content {
    padding: 15px;
}

.fieldname {
    padding: 10px;
}