.navbar-image {
    height: 50px;
}

.address {
    background-color: #1A2930;
    color: whitesmoke;
}

.navbar-custom {
    background-color: #c5c1c0;
}

.slideshow {
    height: 20%;
}

.slider-img {
    height: 20vh;
}